@import "../../scss/base/animations";

.ShadowoftheDemonLord {
	a {
		font-size: 2rem;
		color: white;
		text-decoration: underline;
		margin-right: 0.5rem;

		&:visited {
				color: white;
		}
	}

	a, h1 {
		font-size: 2rem;
		display: inline-flex;
		align-items: center;
	}
		
	button.btn-rounded {
		font-weight: bolder;
		height: 2rem;
		width: 2rem;
		border-radius: 1rem;
		font-size: 0.8rem;
	}

	h1 {
		margin: 0px;
	}

	h2 {
		width: 100%;
	}

	h3, select {
		text-transform: capitalize;
	}

	.header-row:hover {
		img.pentagram {
			animation-timing-function:ease-out;
			@extend .rotate;

			opacity: 1.0;
			transition: opacity .55s ease-in-out;
			-moz-transition: opacity .55s ease-in-out;
			-webkit-transition: opacity .55s ease-in-out;
		}
	}

	img.pentagram {
		height: 2.5rem;
		margin: 0px 2%;
		width: 2.5rem;

		opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
	}

	button.beastiary-filter-collapse {
		img {
			filter: invert(100%);
			width: 25px;
			height: 25px;
			background-color: none;
			border-color: none;	
		}
	}
	
	select {
		padding: 0 2%;
		width: 100%;
	}

	thead {
		background-color: #2b2b2b;
	}
}