.col {
  grid-template-columns: 1fr 2fr 1fr;
}

.colfit {
  grid-template-columns: 1fr min-content minmax(60px, min-content) 1fr;
}

.max40 {
  max-height: 40px;
}

.min60 {
  min-height: 60px;
}

.min100 {
  min-height: 60px;
}

.min200 {
  min-height: 250px;
}
