.Terrain {
	.custom-control-input:checked ~ .custom-control-label::before {
		border-color: #8C1717;
		background-color: #8C1717;
	}
	
	.switches {
		transform: scale(1.2);
		justify-items: start;
	}
}
