.card {
  display: grid;
  grid-template-rows: max-content 1fr;
  border-radius: 8px;
  border: 1px solid transparent;
  height: 560px;
  width: 375px;
  box-shadow: 0 0.9px 4px rgb(0 0 0 / 28%), 0 2.6px 8px rgb(0 0 0 / 21%),
    0 5.7px 12px rgb(0 0 0 / 18%), 0 15px 15px rgb(0 0 0 / 14%);
}

.card:hover {
  cursor: pointer;
}

.header {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}

.header img {
  border: 1px solid transparent;
  transform: scaleX(1.02);
}

.content {
  display: grid;
  grid-template-rows: auto auto 1fr 24px;
  height: 100%;
  padding: 16px;
  width: 100%;
}

.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer {
  display: grid;
  align-items: end;
}

.back {
  display: grid;
  grid-template-rows: auto auto auto 1fr 24px;
  padding: 16px;
}
