@import url('https://fonts.googleapis.com/css?family=Merriweather');

html {
  h1 {
    font-family: 'Merriweather', cursive;
  }

  p {
    font-family: 'Merriweather';
  }

  nav {
    font-size: 1.25em
  }
}