
.App {
  background-color: #0f0e0e;
  text-align: center;
  height: 100%;

  .portrait {
    img {
      width: 100%;
      max-width: 450px;
      min-width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
      border-radius: 0.85em;
      border: 2px solid transparent;

      animation: moveInLeft 1s ease-in;
    }
  }

  section.description {
    padding-left: 15%;
  }

  nav {
    min-height: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .Center {
    min-height: 700px;
  }
}