@import "../../../scss/base/animations";

.EncounterBuilder {		
	button {
		font-weight: bolder;
		height: 2rem;
		width: 2rem;
		border-radius: 1rem;
		font-size: 0.8rem;
	}

	h2 {
		width: 100%;
	}

	h3, select {
		text-transform: capitalize;
	}

	select {
		padding: 0 2%;
		width: 100%;
	}

	thead {
		background-color: #2b2b2b;
	}
}