.App {
  text-align: center;
  padding: 1% 0.2%;

  button,
  button[type="submit"] {
    transition: all .2s;

    &:hover {
      transform: translateY(-3px);
          
      &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
      }
    }
  
    &:active,
    &:focus {
      outline: none;
      transform: translateY(1px);
      box-shadow: 0 .5rem 1rem rgba(black, .2);
    }
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bolder;
  }

  .portrait {
    img {
      width: 100%;
      max-width: 450px;
      min-width: 250px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
      border-radius: 0.85em;
      border: 2px solid transparent;
      transition: all .3s ease;
    }
  }

  section.description {
    padding-left: 15%;
  }

  nav {
    min-height: 15vh;
  }
}