.RewardsGenerator {
  button {
    $red: #80191c;

    box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem #ffffff45;
    color: white;
    background-color: $red;

    div.content {
      min-height: 350px;
    }
  }
}
