.minH {
  min-height: 250px;
}

.minW {
  min-width: 200px;
}

.layout {
  grid-template-rows: auto min-content auto min-content;
}

.inputGrid {
  grid-template-columns: 10em 100px;
  align-items: center;
}

.threatGrid {
  grid-template-columns: max-content 1fr;
}

.buttonsGrid {
  grid-template-columns: min-content 1fr;
  grid-auto-flow: column;
  align-items: center;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.back {
  grid-template-rows: 100px 1fr 24px;
  height: 100%;
  padding: 16px;
}
