// change the theme
$theme-colors: (
  "primary":#2b2b2b,
  "secondary":#0f0e0e,
  "danger": #ff4136
);

$dark: #0f0e0e;
$card: #252525;

// Import Bootstrap and its default variables
// Required
@import "../../../node_modules/bootstrap/scss/bootstrap";