.min250 {
  min-height: 250px;
}

.minW250 {
  min-width: 250px;
}

.maxW350 {
  max-width: 350px;
}

.min350 {
  min-width: 350px;
}

.minW360 {
  min-width: 360px;
}

.maxW800 {
  max-width: 800px;
}

.minW600 {
  min-width: 600px;
}

.gridRow {
  grid-template-rows: repeat(3, 1fr);
}

.karmaGrid {
  grid-template-rows: repeat(3, minmax(0, fit-content)) 1fr;
}

.maxH100 {
  max-height: 100;
}
