.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4.5em;
  background-color: rgb(20 21 25);
  border-radius: 8px;
  border: 1px solid transparent;
  height: 150px;
  min-width: 300px;
  width: 100%;
  box-shadow: 0 0.9px 4px rgb(0 0 0 / 28%), 0 2.6px 8px rgb(0 0 0 / 21%),
    0 5.7px 12px rgb(0 0 0 / 18%), 0 15px 15px rgb(0 0 0 / 14%);
}
