@import url("https://fonts.googleapis.com/css?family=Merriweather");

html {
  h1 {
    font-family: "Merriweather", cursive;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 2%;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  h4 {
    font-size: 1rem;
    font-weight: bolder;
  }

  p {
    font-family: "Merriweather";
  }

  nav {
    font-size: 1.25em;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
}
