.sidebar {
  gap: var(--space-4);
  grid-auto-rows: max-content;
  overflow: hidden;
  width: 100%;
}

.sidebar a {
  align-items: center;
  justify-content: start;
  overflow: hidden;
  width: 100%;
}

.sidebar img {
  height: 20px;
  width: 20px;
}

.sidebar li {
  -webkit-box-align: center;
  -webkit-box-flex: 1;
  align-items: center;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  padding-block: 4px;
  padding-inline: 8px;
}

.sidebar span {
  max-inline-size: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  width: 100%;
}

.active {
  background-color: var(--active);
  border-radius: 6px;
  transition: background-color 150ms;
}
