.AboutCenter {
  backface-visibility: hidden;
  margin: 0 auto;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  80% {
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.portrait {
  animation: moveInLeft 3s ease-in;
}

.description {
  animation: moveFromTop 2s ease-in;
}

.cards {
  animation: moveFromBottom 2s ease-in;
}
