

// change the theme
$theme-colors: (
  "primary":#2b2b2b,
  "secondary":black,
  "danger": #ff4136
);


@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

$dark: black;

.navbar {
  min-width: 150px;
}

// Import Bootstrap and its default variables
// Required
@import "../node_modules/bootstrap/scss/bootstrap";


