@import "../../../../scss/base/animations";

div.weather {
	select {
		max-height: 25px;
	}

	button {
		margin-left: 2%;
		padding: 0px;
		height: 2.3rem;
		width: 2.3rem;

		// &:active {
		// 	position: relative;
		// 	x-transition: all 1s ease-in-out;
		// 	animation: rollDie 1.7s ease-in-out;

		// 	@extend .rotate
		// }

		&:hover img {
			animation-timing-function:ease-out;
			transform: scale(1.2);
		}	
	}

	img {
		height: 2rem;
		width: 2rem;
	}
}