@import "../../../../scss/base/animations";

div.weather {

	button {
		margin-left: 2%;
		padding: 0px;
		height: 2rem;
		width: 2rem;

		&:hover > img,
		&:focus > img {
			transform: scale(1.3);
		}

		&:active {
			@extend .rotate;
		}
	}

	img {
		height: 2rem;
		width: 2rem;
	}
}