.layout {
  display: grid;
  grid-template-columns: 230px 1fr;
  height: 100%;
  grid-auto-rows: max-content;
}

.menu {
  display: grid;
  gap: var(--space-4);
  grid-auto-flow: column;
  min-inline-size: 230px;
  padding: var(--space-5);
}

.panel {
  box-shadow: rgba(0, 0, 0, 0.28) 0px 0.9px 4px,
    rgba(0, 0, 0, 0.21) 0px 2.6px 8px, rgba(0, 0, 0, 0.176) 0px 5.7px 12px,
    rgba(0, 0, 0, 0.14) 0px 15px 15px;
  border-inline-start: 1px solid rgba(52, 55, 65, 0.7);
  width: 100%;
  display: grid;
  gap: var(--space-5);
  background-color: var(--gray-3);
  padding: var(--space-5);
}
